<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SearchEngine.Properties.Settings.SearchEngineConnectionString"
            connectionString="Data Source=|DataDirectory|\SearchEngine.sdf;Password=search;Persist Security Info=True"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>